<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>登录界面</title>

    <link rel="stylesheet" href="../css/bootstrap.css">
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-head">
                <a href="#" class="navbar-brand">Project name</a>

            </div>
        </div>

    </nav>

<!--<form action="login" method="post">
    id:<input type="text" name="id">
    <br>
    name:<input type="text" name="name">
    <br>
    age:<input type="text" name="age">
    <br>
    classNo:<input type="text" name="classNo.calssCount">
    <br>
    className:<input type="text" name="classNo.calssName">
    <br>
    <input type="submit" value="submit">
</form>-->
</body>
</html>